customtkinter==5.2.2
Pillow==10.4.0
pystray==0.19.5
keyboard==0.13.5
pyinstaller==6.11.1
pyperclip==1.9.0
requests==2.32.3
cryptography==44.0.1
google-api-python-client==2.165.0
google-auth-oauthlib==1.2.1
google-auth==2.38.0
google-auth-httplib2==0.2.0
